resources:
  limits:
    cpus: 2.0
    memory: 4096

TZ: Etc/UTC

autoxpose:
  server_ip: "203.0.113.50"
  lan_ip: "192.168.1.100"
  additional_envs: []

network:
  host_network: false
  web_port:
    bind_mode: published
    port_number: 8080

run_as:
  user: 568
  group: 568

ix_volumes:
  data: /opt/tests/mnt/autoxpose/data

storage:
  data:
    type: ix_volume
    ix_volume_config:
      dataset_name: data
      create_host_path: true
  additional_storage: []
